<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> {{ scripts['title']}} </title>

  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/contact-template.css')}}" rel="stylesheet" id="bootstrap-css">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='css/stylish-portfolio.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css')}}">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">{{scripts['name']}}</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="blogs">Blog</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/Login">Admin Login</a>
      </li>
    </ul>
  </nav>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">{{scripts['title']}}</h1>
      <h3 class="mb-5">
        <em>{{scripts['sub_title']}}</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="blogs">Blog</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What Am I ?</h2>
      </div>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon"></i>
          </span>
          <h4>
            <strong>Anchor</strong>
          </h4>
          <a href="#" class="text-faded mb-0">Looks great on any screen size!</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Pythno Developer</strong>
          </h4>
          <a href="#" class="text-faded mb-0">Looks great on any screen size!</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Event Manager</strong>
          </h4>
          <a href="#" class="text-faded mb-0">Looks great on any screen size!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em href="#">your new Bussiness</em></h2>
      <a class="btn btn-primary btn-xl" href="#">Gautam Events</a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <form action="/contact" method="POST">
    <div class="container contact">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-info">
            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
            <h2>Contact Us</h2>
            <h4>We would love to hear from you !</h4>
          </div>
        </div>
    <div class="col-md-9">
      <div class="contact-form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="fname">First Name:</label>
          <div class="col-sm-10">          
          <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="number">Contact Number:</label>
          <div class="col-sm-10">
          <input type="Number" class="form-control" id="number" placeholder="Enter Contact Number" name="number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="message">Message:</label>
          <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="message" name="message"></textarea>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" >Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</section>
    <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/prafulrathodbose/">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/prafulRathodPR">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Praful-Python">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Praful Rathod 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/stylish-portfolio.min.js')}}"></script>

</body>

</html>